.box-QA-title {
  background-color: #004700;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.text-footer {
  color: aliceblue;
}

.bg-footer {
  background-color: #004700;
}

.alert-text-monex{
    color: #004700;
}
